.home {
  @import './referal-card/Style.scss';
  @import './data-card/Style.scss';
  &__banners {
    @extend .flex-row;
    flex-wrap: wrap;
    margin-bottom: 30px;
    color: #fff;
  }
  &__referals {
    @extend .flex-row;
    .referal-card {
      &:not(:nth-of-type(2n)) {
        margin-right: 37px;
      }
    }
  }
  &__data-row {
    display: flex;
    flex-wrap: wrap;
    .data-card:not(:nth-of-type(3n)) {
      margin-right: 24px;
    }
  }
  .monthly-banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 470px;
    min-height: 140px;
    margin-right: 36px;
    padding: 12px 20px;
    background-image: linear-gradient(-41deg, #74f5ab 0%, #00c8d5 100%);
    border-radius: 5px;
    &__title {
      font-size: 24px;
    }
    &__bottom-line {
      @extend .flex-row;
      justify-content: space-between;
      align-items: flex-end;
    }
    &__invested {
      font-size: 18px;
    }
    &__revenue {
      font-size: 50px;
      font-weight: 300;
    }
  }
  .current-coin-banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 470px;
    min-height: 140px;
    padding: 12px 20px;
    background-image: linear-gradient(-58deg, #21b8f5 0%, #21d3d5 100%);
    border-radius: 5px;
    &__caption {
      font-size: 22px;
    }
    &__price {
      font-size: 60px;
    }
  }
  .user-status {
    background-color: #93c2f1;
    .data-card__header-icon i::before {
      color: #93c2f1;
    }
    &__name {
      margin-bottom: 5px;
      font-size: 48px;
      line-height: 1.4;
    }
    &__sub-name {
      margin-bottom: 48px;
      font-size: 18px;
    }
    &__credits,
    &__investments {
      font-size: 18px;
    }
    &__investments {
      margin-top: 4px;
    }
  }
  .user-wallet {
    font-size: 18px;
    background-color: #63ded9;
    .data-card__header-icon i::before {
      color: #63ded9;
    }
    &__balance {
      margin-bottom: 30px;
      font-size: 60px;
    }
  }
  .user-investment {
    background-color: #2fbefe;
    .data-card__header-icon i::before {
      color: #2fbefe;
    }
    &__amount {
      margin-bottom: 29px;
      font-size: 60px;
    }
    &__closed {
      margin-bottom: 25px;
    }
  }

  
}
