<div class="container">

    <div class="page-header text-center">
        <h1>Investment page</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="well">
              <form action="https://wallet.advcash.com/sci/" method="post" class="js-adv-form">
                <input type="hidden" name="ac_account_email" value="newbabylontown@gmail.com" id="id_ac_account_email">
                <input type="hidden" name="ac_sci_name" value="GSMining" id="id_ac_sci_name">
                <input type="number" name="ac_amount" id="id_ac_amount" placeholder="Price">
                <input type="hidden" name="ac_currency" value="USD" id="id_ac_currency">
                <input type="hidden" name="ac_order_id" value="<%= order_id %>" id="id_ac_order_id">
                <input type="hidden" name="ac_comments" value="<%= comments %>" id="id_ac_comments">
                <input type="hidden" name="ac_sign" value="<%= sign %>" id="id_ac_sign">
                <button class="btn btn-default btn-sm">Invest via Advcash</button>
              </form>
            </div>
        </div>
    </div>
</div>
