# dependencies
/node_modules
/client/node_modules
/server/node_modules

# IDE
/.idea
/.awcache
/.vscode

# misc
npm-debug.log
.DS_Store

# example
/quick-start

# tests
/test
/coverage
/.nyc_output

# dist
/dist
package-lock.json

/public/uploads/images
