

.investment-card {
	width: 310px;
	min-height: 280px;
	padding: 17px;
	color: #fff;
	background-color: #2fbefe;
	&__header {
		@extend .flex-row;
		margin-bottom: 40px;
		font-size: 22px;
	}
	&__icon  {
		@extend .flex-centered;
		@include size(30px);
		margin-right: 20px;
		font-size: 24px;
		background: #fff;
		border-radius: 5px;
		.icon-stats::before {
			color: $lightblue;
		}
	}
	&__percent {
		font-size: 40px;
	}
	&__status {
		margin-bottom: 35px;
		&-caption {
			font-size: 18px;
			font-weight: 300;
			opacity: 0.8;
		}
	}
	&__values {
		font-size: 17px;
		font-weight: 300;
		li {
			margin-bottom: 2px;
		}
	}
}