<div class="section no-pad-bot">
  <div class="container row">
    <h5 style="text-align: center">Reset password</h5>
    <% if (is_desktop) { %>
    <p>You're using a desktop</p>
    <form action="/account/reset-password" method="POST">
      <div class="input-field col s12">
        <label for="password">Password</label>
        <input class="autocomplete validate" type="password" name="password"
               id="password"
               placeholder="Password">
      </div>
      <input hidden name="token" value="<%= token %>">

      <div class="input-field col s12">
        <button class="waves-effect waves-light btn red lighten-2" type="submit">Submit!
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
    <% } %>
    <% if (is_phone || is_tablet) { %>
    <p>You're using a phone or a tablet</p>
    <div>Please open mobile app - <a href='cardholder://reset-password?token=<%= token %>'>GO</a>
    </div>
    <% } %>
  </div>
</div>
