
.main-footer {
	@extend .flex-row;
	justify-content: space-between;
	padding: 30px 0;
	max-width: 973px;
	&__copyright {
		color: #9b9b9b;
		font-size: 14px;
		font-weight: 400;
	}
	&__social {
		@extend .flex-row;
		justify-content: space-between;
		width: 228px;
		
	}
}

.main-footer-social-item {
	@extend .flex-centered;
	@include size(36px);
	border-radius: 50%;
	// background: #d6d6d6;
	background: #fff;
	cursor: pointer;
	i::before {
		font-size: 36px;
		color: #d6d6d6;
	}
}

.main-footer-lang {
	@extend .flex-row;
	&__item {
		font-size: 16px;
		font-weight: 300;
		text-transform: uppercase;
		color: #9b9b9b;
		cursor: pointer;
		&--active {
			color: #1e8dc3;
		}
		&:not(:last-of-type) {
			margin-right : 15px;
		}
	}
}

