
@import './stats/Style.scss';
@import './status/Style.scss';
@import './withdraw/Style.scss';
.wallet {
	&__content {
		display: flex;
		align-items: flex-start;
	}
	&__form {
		margin-right: 37px;
	}
}

