


.wallet-history-entry {
	@extend .flex-row;
	max-width: 600px;
	margin-bottom: 15px;
	padding: 10px;
	color: #303030;
	border-bottom: 1px dashed $lightblue;
	&--section {
		overflow: hidden;		
		text-overflow: ellipsis;
	}
	&__icon {
		@include size(20px);
		margin-right: 10px;
	}
	&__currency {
		@extend .wallet-history-entry--section;		
		width: 100px;
		padding: 0 5px;
		font-size: 14px;
	}
	&__amount {
		@extend .wallet-history-entry--section;		
		width: 120px;
		padding: 0 5px;		
	}
	&__type {
		width: 160px;
		margin-right: 80px;
	}
}