<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <div id="Page" class="Page">
      <div class="Page-container">
        <section class="Content Content--white">
          <div class="Container">
            <div class="Container--narrow">
              <article class="Typography">
                <div class="Content-header"><h2>Customer&nbsp;Support</h2>
                  <p>Thank you for using CardHolder®! if you have any questions please contact Customer&nbsp;Support:</p>
                  <p><strong>International - 093 094 0444<br> Monday-Thursday 1:15 AM - 10:30 PM EST <br>and Friday 7:30 AM to 10:30 PM EST</strong></p>
                </div>
              </article>
            </div>
          </div>
        </section>
        <footer class="Footer">
          <div class="Container Footer-container">
            <div class="Container--default">
              <div class="Footer-top" itemscope="" itemtype="http://schema.org/Organization">
                <div class="Footer-contact"><h3>Contact&nbsp;Us</h3>
                  <div>
                    <span class="Footer-contact-title">Phone:</span>
                    <span><a href="tel:0930940444"> <span itemprop="telephone" contactoption="TollFree">093 094 0444</span></a></span>
                  </div>
                  <div>
                    <span class="Footer-contact-title">Email:</span>
                    <span>
                      <a href="mailto:newbabylontown@gmail.com" title="newbabylontown@gmail.com"><span itemprop="email">newbabylontown@gmail.com</span></a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>
