



.investment-info-block {
	width: 310px;
	padding: 23px 24px;
	&__header {
		@extend .flex-row;
		margin-bottom: 28px;
		&-icon {
			@extend .flex-centered;
			@include size(28px);
			margin-right: 20px;
			border-radius: 5px;
			background: #1d8dc3;
		}
		&-title {
			font-size: 18px;
			color: #1d8dc3;

		}
	}

	&__content {
		font-size: 15px;
		line-height: 28px;
		color: #4a4a4a;
		&-date {

		}
		&-price {

		}
	}

}
