@import './team-grid/Style.scss';

.my-team {
	&__content {
		padding: 28px 22px;
		&-title {
			margin-bottom: 13px;
			font-size: 22px;
			font-weight: 400;
			color: #1e8dc3;
		}
	}
}

.my-team-search {
	@extend .flex-row;
	margin-bottom: 31px;
	&__field {
		width: 309px;
		margin-right: 10px;
		.field__input {
			height: 40px;
			text-align: center;
		}
	}
	&__icon {
		@extend .flex-centered;
		@include size(40px);
		font-size: 22px;
		background-color: $blue;
		border-radius: 5px;
		cursor: pointer;
		i::before {
			color: #fff;
		}
	}
}

