@import './common/team-part/Style.scss';
@import './home/Style.scss';
.big-back {
  width: 1350px;
  height: 1450px;
  background-image: url(../../public/icons/land/big-back.png);
  position: absolute;
  z-index: -1;
}

.landing {
  background-color: #102132;
  &__container {
    width: 1170px;
    margin: 0 auto;
  }
  &__container-flex {
    display: flex;
    flex-wrap: wrap;
  }
  &::before {
    // content: '';
    position: absolute;
    display: inline-block;
    background-image: url(../../public/icons/land/benefits-square.png);
    background-position: 0 0;
    right: 0px;
    top: 2000px;
    background-repeat: no-repeat;
    width: 260px;
    height: 600px;
  }
  &--referal::before {
    display: none;
  }
}

.landing-header {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  padding-top: 31px;
  position: relative;
  background-image: linear-gradient(-1deg, rgba(37, 69, 97, 0.00) 11%, #102132 100%);
  &__navigation-list {
    display: flex;
    margin-right: 32px;
  }
  &__buttons {
    display: flex;
    .landing-button--empty {
      margin-right: 19px;
    }
  }
  &__navigation-item {
    margin-right: 15px;
  }
  &__navigation-link {
    font-weight: lighter;
    display: inline-block;
    padding: 8px 10px;
    color: #fff;
    font-size: 14px;
  }
  &--footer {
    padding-bottom: 50px;
  }
  &--main-page {
    padding-bottom: 350px;
  }
}

.landing-logo {
  border: 2px solid #45ADAA;
  padding: 7px 31px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  margin-right: 101px;
  border-radius: 100px;
}

.landing-button {
  padding: 9px 20px;
  background-color: #389A9D;
  border-radius: 4px;
  color: #fff;
  font-weight: lighter;
  font-size: 14px;
  box-sizing: border-box;
  display: inline-block;
  &--empty {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 10px 35px;
  }
  &--big {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 25px;
    text-align: center;
    min-width: 300px;
    box-shadow: 0 2px 4px 0 #63D4D4;
    vertical-align: middle;
  }
}

.promo {
  background-image: url(../../public/img/pexels-photo-316093.png);
  padding: 233px 0px;
  padding-bottom: 207px;
  text-align: center;
  margin-top: -71px;
  &__content {
    width: 536px;
    margin-left: 331px;
  }
  &__title {
    text-align: center;
    font-size: 55px;
    line-height: 75px;
    font-weight: lighter;
    color: #fff;
    margin: 0;
    margin-bottom: 23px;
    span {
      color: #389A9D;
    }
  }
  &__description {
    color: #fff;
    font-weight: lighter;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 52px;
  }
}

.how-it-works {
  text-align: center;
  padding-top: 97px;
  background-image: url(../../public/icons/land/BG.png);
  background-position: 140px -656px;
  background-repeat: no-repeat;
  margin-bottom: 109px;
  &__title {
    font-size: 45px;
    font-weight: lighter;
    color: #fff;
    margin-bottom: 58px;
  }
  &__info {
    display: flex;
    flex-wrap: wrap;
    width: 1112px;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  &__steps {
    width: 50%;
    margin-right: 40px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      right: -20px;
      top: 40px;
      height: 180px;
      width: 3px;
      background-image: url(../../public/icons/land/separateLine.png);
      background-repeat: no-repeat;
      background-position: 0 0;
    }
    &::after {
      content: '';
      position: absolute;
      right: -23px;
      top: 12px;
      width: 10px;
      height: 10px;
      background-color: #45ADAA;
      border-radius: 50%;
    }
  }
  &__steps-item {
    width: 520px;
    padding: 19px;
    padding-right: 15px;
    padding-left: 145px;
    margin-bottom: 13px;
    line-height: 18px;
    text-align: left;
    box-sizing: border-box;
    background-color: #1A2D3E;
    border-radius: 8px;
    min-height: 140px;
    box-shadow: 5px 5px 17px 0 #000;
    position: relative;
    &:nth-child(1)::before,
    &:nth-child(2)::before,
    &:nth-child(3)::before {
      position: absolute;
      display: inline-block;
      left: 20px;
      top: 62px;
      width: 100px;
      height: 100px;
      font-size: 60px;
      padding-top: 20px;
      font-weight: lighter;
      color: #fff;
      background-position: 43px 0px;
      background-repeat: no-repeat; // background-color: #ccc;
    }
    &:nth-child(1)::before {
      background-image: url(../../public/icons/land/chip.svg);
      content: '1';
    }
    &:nth-child(2)::before {
      background-image: url(../../public/icons/land/settings.svg);
      content: '2';
    }
    &:nth-child(3)::before {
      background-image: url(../../public/icons/land/connection.svg);
      content: '3';
    }
  }
  &__step-title {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
  }
  &__step-description {
    font-size: 15px;
    color: #45ADAA;
    font-weight: lighter;
  }
  &__description {
    width: 43.6%;
    padding: 30px;
    padding-top: 0;
    text-align: left;
  }
  &__description-title {
    font-size: 45px;
    font-weight: lighter;
    color: #fff;
    margin-bottom: 50px;
  }
  &__description-text-paragraph {
    color: #fff;
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 20px;
    line-height: 20px;
    &:nth-child(2) {
      margin-bottom: 60px;
    }
  }
  &__video {
    width: 1110px;
    border-radius: 8px;
    margin: 0 auto;
    min-height: 600px;
    position: relative;
    background-color: #45ADAA;
  }
  &__play-video {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 48%;
    top: 39%;
    background-image: url(../../public/icons/land/play.svg);
  }
}

.calculator {
  display: flex;
  flex-wrap: wrap;
  width: 1140px;
  margin: 0 auto;
  margin-bottom: 125px;
  position: relative;
  &__title {
    margin-left: 30px;
    font-size: 45px;
    margin-bottom: 60px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: lighter;
  }
  &__block {
    width: 50%;
    padding: 30px;
    padding-left: 65px;
    box-sizing: border-box;
  }
  &__block-title {
    font-size: 18px;
    font-weight: bold;
    color: #45ADAA;
    margin-bottom: 36px;
  }
  &__block-controls {
    display: flex;
    padding-left: 35px;
    flex-wrap: wrap;
  }
  &__block-control--small {
    padding: 0;
  }
  &__radio-button {
    display: inline-block;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    border: 1px solid #45ADAA;
    border-radius: 8px;
    width: 160px;
    padding-bottom: 14px;
    padding-top: 125px;
    text-align: center;
    background-color: rgba($color: #fff, $alpha: 0.1);
    transition: 0.4s;
    cursor: pointer;
    &.active {
      box-shadow: 0 1px 17px 1px #45ADAA;
    }
  }
  &__radio-button--type {
    background-image: url(../../public/icons/land/chip.svg);
    background-repeat: no-repeat;
    background-position: 38px 30px;
    background-size: 80px 80px;
    &:nth-child(1) {
      margin-right: 75px;
    }
  }
  &__radio-button--stars {
    width: 150px;
    margin-right: 12px;
    font-size: 16px;
    background-repeat: no-repeat;
    text-transform: uppercase;
    &:nth-child(3) {
      margin-right: 0;
    }
  }
  &__radio-button--one-stars {
    background-image: url(../../public/icons/land/rating1.svg);
    background-position: 40px 80px;
  }
  &__radio-button--two-stars {
    background-image: url(../../public/icons/land/rating2.svg);
    background-position: 40px 50px;
  }
  &__radio-button--three-stars {
    background-image: url(../../public/icons/land/rating3.svg);
    background-position: 35px 22px;
  }
  &__tabs {
    color: #fff;
    font-size: 15px;
    margin-right: 33px;
    padding-top: 22px;
    margin-left: -23px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
  }
  &__tabs-item {
    display: inline-block;
    padding: 14px 28px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s;
    &.active {
      border: 1px solid #45ADAA;
      background-color: rgba($color: #fff, $alpha: 0.1);
      box-shadow: 0 1px 5px 1px #45ADAA;
    }
  }
  &__tabs-content {
    padding-top: 7px;
    width: 225px;
    font-size: 15px;
    font-style: italic;
    color: #45ADAA;
  }
  &__table-head {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 13px;
    min-width: 160px;
  }
  &__table {
    margin-left: -13px;
    margin-top: -10px;
    border-spacing: 0;
  }
  &__table-row {
    padding: 15px;
    opacity: 0.5;
    font-size: 15px;
    font-weight: lighter;
    color: #FFFFFF;
    &--active {
      border: 1px solid #45ADAA;
      background-color: rgba($color: #fff, $alpha: 0.1);
      box-shadow: 0 1px 5px 1px #45ADAA;
    }
  }
  &__motivate-text {
    width: 1140px;
    margin: 0 auto;
    font-size: 18px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba($color: #071320, $alpha: 0.5);
    padding: 25px;
    span {
      font-size: 22px;
      color: #45ADAA;
    }
  }
  &::before {
    content: '';
    position: absolute;
    width: 1140px;
    height: 1px;
    top: 48%;
    background-color: #fff;
  }
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 125px;
    height: 555px;
    width: 1px;
    background-color: #fff;
  }
}

.benefits {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    display: inline-block;
    background-image: url(../../public/icons/land/footer-square.png);
    top: 0px;
    background-repeat: no-repeat;
    width: 1160px;
    height: 1600px;
    z-index: -1;
  }
  &__title {
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 45px;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: lighter;
  }
  &__subtitle {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #45ADAA;
    text-align: center;
    margin-bottom: 70px;
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  &__item {
    position: relative;
    display: inline-block;
    border-top: 8px solid #45ADAA;
    padding: 0 30px;
    padding-top: 70px;
    padding-bottom: 70px;
    width: 32%;
    margin-right: 2%;
    background-color: rgba($color: #FFFFFF, $alpha: 0.1);
    box-sizing: border-box;
    &:nth-child(1) {
      background-image: url(../../public/icons/land/clock.svg);
      background-repeat: no-repeat;
      background-position: 270px 55px;
    }
    &:nth-child(2) {
      background-image: url(../../public/icons/land/circuit.svg);
      background-repeat: no-repeat;
      background-position: 270px 55px;
    }
    &:nth-child(3) {
      margin-right: 0;
      background-image: url(../../public/icons/land/cloud.svg);
      background-repeat: no-repeat;
      background-position: 270px 55px;
    }
  }
  &__item-title {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    margin-bottom: 50px;
    text-align: left;
  }
  &__item-title--short {
    width: 200px;
  }
  &__list {
    padding-left: 20px;
  }
  &__item-list {
    padding-left: 12px;
    font-size: 15px;
    line-height: 22px;
    font-weight: lighter;
    color: #fff;
  }
  &__list-item {
    margin-bottom: 20px;
  }
  &__item-more {
    position: absolute;
    bottom: 35px;
    left: 150px;
    cursor: pointer;
    width: 55px;
    height: 25px;
    background-repeat: no-repeat;
    border: none;
    background-image: url(../../public/icons/land/arrow.svg);
    background-color: transparent;
  }
}

.call-to-action {
  padding: 70px;
  background-image: url(../../public/icons/land/CTAback.png);
  background-position: 50px -300px;
  margin-bottom: 135px;
  text-align: center;
  &__wrapper {
    width: 1140px;
    margin: 0 auto;
  }
  &__text {
    font-size: 30px;
    line-height: 45px;
    font-weight: lighter;
    color: #fff;
    width: 630px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
  }
  &__link {
    font-size: 18px;
    color: #45ADAA;
    text-decoration: underline;
    display: block;
    margin-top: 20px;
  }
  .title {
    width: 1140px;
    margin: 0 auto;
  }
}

.title {
  &__main-title {
    margin-bottom: 20px;
    font-size: 45px;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: lighter;
  }
  &__subtitle {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #45ADAA;
    text-align: center;
    margin-bottom: 60px;
  }
}

.reviews {
  width: 1140px;
  margin: 0 auto;
  margin-bottom: 100px;
  color: #fff;
  &__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  &__item-photo {
    margin-bottom: 20px;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #ccc;
    &::before {
      content: '';
      position: absolute;
      left: 120px;
      top: 50px;
      background-color: #45ADAA;
      width: 370px;
      height: 1px;
    }
    &::after {
      content: '';
      position: absolute;
      right: 120px;
      top: 50px;
      background-color: #45ADAA;
      width: 370px;
      height: 1px;
    }
  }
  &__item-text {
    text-align: center;
    width: 900px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 22px;
    font-weight: lighter;
    margin-bottom: 30px;
  }
  &__item-author {
    font-size: 18px;
    color: #45ADAA;
    text-transform: uppercase;
    font-weight: bold;
  }
  &__slider-control {
    position: absolute;
    display: inline-block;
    width: 55px;
    height: 25px;
    background-image: url(../../public/icons/land/arrow.svg);
    top: 40px;
  }
  &__slider-control--prev {
    left: 0;
    transform: rotate(90deg);
  }
  &__slider-control--next {
    right: 0;
    transform: rotate(-90deg);
  }
}
