@import './menu/Style.scss';
$contentLeftPadding: calc(229px + 43px);


.main-page {
	min-width: 1280px;
	min-height: 100vh;
	background: #fff;
	&__content {
		display: flex;
		flex-direction: column;
		padding-top: 40px;
		padding-left: $contentLeftPadding;
		min-height: calc(100vh - 60px);
		background: #f6f9fd;
		&-inner {
			flex: 1;
		}
		&-title {
			margin: 0;
			margin-bottom: 24px;
			font-size: 24px;
			font-weight: 400;
			color: #1b89c2;
		}
	}
}

.main-page-nav-bar {
	@extend .flex-row;
	justify-content: flex-end;
	padding-left: $contentLeftPadding;
	padding-right: 51px;
	height: 60px;
	background: #fff;
	&__search {}
	&__bell {
		margin-left: 30px;
	}
}
